<div  ng-controller="showRestraunt"> <!-- showRestraunt controller is used for restraunt.html-->
  <div class="mains">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
  <div class="navbar-header">
  <a class="navbar-brand" href="">foodie</a>
  </div>
  <ul class="nav navbar-nav">
  <li class="active"><a href="#!/home">Home</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
  <li><a><span class="glyphicon glyphicon-user"></a></span></li>
  <li><a href="#!/"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
  </ul>
  </div>
  </nav>
<div ng-if="restraunt.name"> <!-- if restraunt exist in $scope.restraunt array in showRestraunt controller then only show-->
    <div class="covers">
    <img  ng-src="{{restraunt.backimage}}" height="43%" width="61%">
  </div>
  <div class="detail-info">
    <div class="name">
      <h2>{{restraunt.name}}</h2>
    </div>
      <div class="rating-main">
        <strong>{{restraunt.vote}}</strong>
      </div>
      <div class="category-main">
        {{restraunt.category}}
        <div class="best">
        <div class="bestDish" ng-if="restraunt.bestDish" style="margin-left:40%;">
  	        <span>Recommended:<img  ng-src="{{restraunt.bestDish.image}}" height="65px" width="65px" style="border-radius:3px;"> </span>
  	        <div ng-click="getIngredients(restraunt.bestDish.image)" class="button">Get Ingredients</div>
</div>
      </div>
      </div>
      <div class="order">
        <button>Order Online</button>
      </div>
      <div class="loc">
        {{restraunt.address}}
      </div>

  </div>

</div>
</div>
<div ng-hide="restraunt.name" style="text-align:center;margin-top:20%;"><h1>404-PAGE NOT FOUND</h1></div>
<div class="dig">
  <dialog id="displays">
    <div class="fodimg">
      <img  ng-src="{{restraunt.bestDish.image}}" height="35%" width="100%"  style="border-radius:6px;" >
    </div>
    <div><h2 style="margin-left:-10px;">Ingredients:</h2></div>
    <div class="list" ng-repeat="ingredients in ingredientss">
        <span>{{$index+1}}:{{ingredients}}</span>
    </div>
    <div class="inform">
      {{values}}
    </div>
    <button ng-click="closedig()" class="buttonss">OK</button>
  </dialog>
</div>
</div>
